
     @import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap");

    .nav-bar {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 90px;
  background-color: #d1b61d;
  box-shadow: 3px 3px 10px rgb(56, 56, 56);
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}


.nav-bar .menu .logo {
  position: absolute;
  top: 0%;
  left: 1%;
  
}

ul.menu {
  flex: 1;
  display: inline-flex;
  flex-flow: row wrap;
 
  
}

.menu li {
  flex: 1;
  list-style-type:none;
  font-size: 16px;
  font-family: "Barlow Condensed";
  text-align: center;
 
  
}


.menu li a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  
 
}

.menu li a:hover {
  color: ghostwhite;
  text-decoration:solid;
}
      

    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 40px 20px 0px 20 px;
    }
    h2{
        font-family: Arial, Helvetica, sans-serif;
        width: 120%;
        font-size: 3em;
        font-weight: 800;
        border-bottom: 3px solid black;
        border-top: 3px solid whitesmoke;
        margin-top: 40px;
        margin-bottom: 40px;
        padding-bottom: 10px;
        -webkit-text-fill-color:black ;
        
        -webkit-text-stroke-color:whitesmoke;
        -webkit-text-stroke-width: 2px;

    }
    img{
        width: 100%;
        padding-bottom: 15px;
        border-radius: 25px;
        
    
        
        
        
    }
    span{
        font-weight:50;
    }
    .body{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        
    }
   
    
    .col{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 32.5%;  
    }
    .wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .image{
        width: 500px;
        position: relative;
        
    }
    .content{
        color: ghostwhite;
        width: 100%;
        height: 40%;
        top: 0;
        left: 0;
        position: absolute;
        background: rgba(0, 0, 0, 6);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        flex-direction: column;
        opacity: 0;
        transition: 0.6s;
    

    }
    .content:hover{
        opacity: 1;
        
    }
    .image:hover {
        cursor: pointer;
        -webkit-transform: scale(1.1);
        

    }
    .buttons{
       border: 2px solid #333;
       width: 200px;
       
    }
    .color{
        display: table-cell;
        width: 50px;
        height: 50px;
        margin: 0 2;
        cursor: pointer;
        border: 2px solid green;
    }
    .clr1{
        background-color: #FFF;
    }
    .clr2{
        background-color: black;
    }
    .clr3{
        background-color: blue;
    }
    .clr4{
        background-color:orangered;
    }
    .container{
        position: relative;
        display:flex;
        justify-content: left;
        align-items: center;
        width: 1200px;
        flex-direction: column;
        margin: 20px 0;
        padding: 0 20px;

    }
    .container .font{
        width: 100%;
        display:inline;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 20px;

    }
    .container .font .btn{
        padding: 0 10px;
        display: inline-flex;
        background: darkgrey;
        color: aliceblue;
        margin-left: 10px;
        cursor: pointer;
    }
    .container .font .btn.active{
        background: #444;

    }
    .container .font .btn:nth-child(2){
        font-size: 1.5em;

    } .container .font .btn:nth-child(3){
        font-size: 2em;

    }
    .container .main{
        font-size: 1em;
        color: #444;
    }
    .container .main body,img{
        transition: 0.5s;
    }
    .copyright{
        
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        -webkit-text-fill-color:transparent ;
        -webkit-text-stroke-color: darkgrey;
        font-weight: light;
        -webkit-text-stroke-width: 1px;
        font-size: 30px;
    }
    
    
    marquee{
        width: 1500px;
        height: 50px;
    }
  
    
    